:root {
    --cell-size: 60px;
}

/* Chessboard */

.chessboard {
    background-color: white;
}

.chessboard,
.chessboard td {
    border-collapse: collapse;
    border: 0px solid black;
}

.chessboard tr {
    height: var(--cell-size);
}

.chessboard td {
    width: var(--cell-size);
    transition: all 0.1s linear;
}

.chessboard tr:nth-child(even) > td:nth-child(odd) {
    background: #aaaaaa;
}

.chessboard tr:nth-child(odd) > td:nth-child(even) {
    background: #aaaaaa;
}

.piece {
    display: block;
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    pointer-events: none;
    transition-property: opacity, left, top;
    transition-duration: 0.5s, 0.9s, 1s;
    transition-timing-function: ease-in-out;
}

.clickable,
.destination {
    cursor: pointer;
}

.clickable:hover,
.clicked {
    background-color: green !important;
}

.destination {
    background-color: yellow !important;
}

.destination:hover {
    background-color: orange !important;
}

.incheck {
    background-color: red !important;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: calc(var(--cell-size) * 8);
    height: auto;
}

#board {
    position: relative;
    width: calc(var(--cell-size) * 8);
    height: calc(var(--cell-size) * 8);
    float: left;
    margin: calc(var(--cell-size) / 3) 0;
}

.captured {
    height: calc(var(--cell-size) / 2);
    width: calc(var(--cell-size) * 8);
    position: relative;
    float: left;
}

.captured .piece {
    position: relative;
    float: left;
    width: calc(var(--cell-size) / 2);
    height: calc(var(--cell-size) / 2);
}

html,
body {
    overflow: hidden;
    height: 100%;
    background-color: white;
    color: black;
    margin: 0 !important;
    padding: 0;
    top: 0;
}

/* Users */

.your_team,
.opponent_team {
    position: absolute;
    width: 50%;
    height: 200px;
    top: 4px;
}

.your_team {
    left: 20px;
    text-align: left;
}

.opponent_team {
    right: 20px;
    text-align: right;
}

.player_info {
    margin: 0 4px;
    padding: 4px 10px;
    width: 82px;
    height: auto;
    display: inline-block;
    text-align: center;
}

.player_info img {
    border-radius: 50%;
    width: 80px;
}

.player_info h3 {
    margin: 0;
    font-size: 0.9em;
}

.control {
    background-color: yellow;;
    border-radius: 5px;
}

body {
    background-color: #77D1E3;
    transition: background-color 1s ease;
}

.yourturn {
    background-color: #A5F53D;
}

.opponentturn {
    background-color: #df2605;
}

@media (max-width: 480px) {
    .player_info img {
        width: 16vw;
    }
}
