:root {
    /* Colors for the UI */
    --primary-accent: #f91d17;
    --secondary-accent: #af211e;
}

* {
    /* Font of all elements */
    font-family: "Noto Serif", serif;
}

html {
    width: 100%;
    /* Fixes wrong height on mobile */
    height: 100vh;
    background-color: black;
}

body {
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: black;
    margin: 0;
    /* Fade in effect */
    animation-name: fade_in;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

/* Forms */

input,
label {
    width: 80%;
    margin: 5px 0;
    padding: 12px 15px;
}

select,
input {
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
    padding: 12px 15px;
    margin: 5px 0;
}

select {
    cursor: pointer;
}

label {
    display: block;
    text-align: left;
}

button {
    display: block;
    width: 220px;
    height: 40px;
    margin: 5px auto;
    color: white;
    font-size: 1.4em;
    background-color: var(--primary-accent);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select,
button,
input {
    transition: transform 0.2s ease;
}

select:hover,
button:hover,
input:focus {
    transform: scale(1.05);
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Google Noto Serif*/

/* Regular */
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../res/fonts/NotoSerif-Regular.ttf);
}
/* Bold */
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../res/fonts/NotoSerif-Bold.ttf);
}
/* Italic */
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../res/fonts/NotoSerif-Italic.ttf);
}
/* Bold Italic */
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../res/fonts/NotoSerif-BoldItalic.ttf);
}
