:root {
    /* Colors for the UI */
    --primary-accent: #f91d17;
    --secondary-accent: #af211e;
}

* {
    /* Font of all elements */
    font-family: "Noto Serif", serif;
}

html {
    width: 100%;
    /* Fixes wrong height on mobile */
    height: -webkit-fill-available;
    background-color: black;
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    color: white;
    background-color: black;
    margin: 0;
    /* Fade in effect */
    animation-name: fade_in;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    position: fixed;
    width: 100%;
    /*height: 100px;*/
    height: 0;
    background-color: white;
    border-bottom: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.menu {
    overflow: auto;
    position: relative;
    background-color: white;
    width: auto;
    max-width: 1140px;
    margin: 0 auto;
}

/* Google Noto Serif*/

/* Regular */
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../res/fonts/NotoSerif-Regular.ttf);
}
/* Bold */
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../res/fonts/NotoSerif-Bold.ttf);
}
/* Italic */
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../res/fonts/NotoSerif-Italic.ttf);
}
/* Bold Italic */
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../res/fonts/NotoSerif-BoldItalic.ttf);
}
