:root {
    /* Colors for the UI */
    --primary-accent: #f91d17;
    --secondary-accent: #af211e;
}

html {
    width: 100%;
    /* For mobile compatibility */
    height: -webkit-fill-available;
    background-color: black;
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    background-color: black;
    /* Fade in effect */
    animation-name: fade_in;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    position: fixed;
    width: 100%;
    /*height: 100px;*/
    height: 0;
    background-color: white;
    border-bottom: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

.menu {
    overflow: auto;
    position: relative;
    background-color: white;
    width: auto;
    max-width: 1140px;
    margin: 0 auto;
}

/* Parallax */

.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f91d17;
    transition: height 1s ease-in-out;
}
.parallax.collapsed {
    height: 0;
}
.parallax div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    border-image-repeat: repeat-x;
    background-size: auto 100%;
}

#mountain {
    mask-image: url("../img/parallax/mountain.svg");
    position: relative;
    z-index: 0;
    height: 80vh;
    top: 50%;
    transform: translateY(-30%);
    background-color: #af211e;
}

#moon {
    position: absolute;
    top: 200px;
    right: 200px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
}

#ground {
    background-image: url("../img/parallax/ground.svg");
    bottom: 0;
    height: 30vh;
    z-index: 2;
}

#logo_p {
    width: 100%;
    text-align: center;
    top: 0;
    position: absolute;
    color: white;
    font-size: 10em;
    z-index: 1;
}

.menu {
    background-color: black;
    color: white;
}
