header {
    padding: 30px 0;
    background-color: var(--secondary-accent);
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    height: auto;
}

body {
    background-color: white;
}

.user_pic {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#logout_form {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

#logout_form button {
    width: 56px;
    height: 56px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: transform 0.2s ease;
}

main {
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 20px auto 0;
    width: 660px;
    height: auto;
    color: black;
}

.new_match {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 2px 10px 22px;
}

.match_history {
    margin: 5px 0;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 2px;
}

main section {
    display: block;
}

nav {
    width: 100%;
}

.progress_bar {
    width: 400px;
    height: 26px;
    background-color: black;
    margin: auto auto;
    border-radius: 20px;
    padding: 2px;
}

.progress_bar div {
    width: auto;
    margin: 2px 0px;
    position: relative;
    border-radius: 11px;
    height: 22px;
    background-color: white;
}

/* Overlay */

#overlay {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

#overlay.hidden {
    display: none;
}

.box {
    color: black;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    position: relative;
    width: 660px;
    height: auto;
    max-height: 80vh;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
}

.box h2 {
    font-size: 1.8em;
}

#close_btn {
    position: absolute;
    display: block;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#no_available {
    padding-top: 8px;
    display: none;
}

/* Wait for connection */

#wait {
    transition: all 0.2s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /* Cursor spinner */
    cursor: progress;
}

.box_top {
    width: 100%;
    text-align: center;
    line-height: 1.1em;
}

.box_top h1 {
    color: var(--primary-accent);
}

.box_bottom {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

#share_whatsapp {
    color: white;
    padding: 10px;
    background-color: #48a91f;
    border-radius: 5px;
    text-decoration: none;
}

#players_list {
    top: 8px;
    margin: 0 auto;
    position: relative;
    width: 400px;
}
.match_available,
.player {
    color: black;
    background-color: #eeeeee;
    border-radius: 5px;
    width: 100%;
    margin: 4px 0;
    height: auto;
}

/* Match play button */

.match_available a,
.match_history a {
    text-align: center;
    width: 80px;
    margin-top: 11px;
    margin-right: 12px;
    float: right;
}

.match_history > a {
    width: 60px;
    text-indent: -99999px;
    background-image: url(../img/fontawesome/eye.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
}

a {
    transition: transform 0.2s ease;
}

a:hover {
    transform: scale(1.05);
}

/* Match history and available style */

.match_available {
    text-align: left;
}

.match_available h3 {
    margin-left: 20px;
}

.match_available p {
    position: absolute;
    right: 120px;
    margin: 20px;
}

.match_history > *,
.match_available > * {
    display: inline-block;
}

.player p {
    display: block;
    position: absolute;
    line-height: 1em;
    left: 90px;
    font-size: 1.4em;
}

.player img {
    padding: 10px;
    display: inline-block;
    width: 50px;
    border-radius: 50%;
}

/* Host and join */

#host,
#join {
    text-align: center;
    padding: 10px;
}

label {
    display: block;
    text-align: center;
    width: 100%;
}

select {
    font-size: 1.1em;
    text-align: center;
    display: inline-block;
    width: 50%;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
    padding: 10px;
    text-decoration: none;
    background-color: var(--primary-accent);
    border-radius: 5px;
}

/* Switch (forked from w3.css) */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    padding: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--primary-accent);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-accent);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* end switch */

@media (max-width: 700px) {
    main {
        width: 90%;
    }
    .progress_bar {
        width: 90%;
    }
    .box {
        width: 90%;
    }
    select {
        width: 80%;
    }
}

@media (max-width: 400px) {
    #players_list {
        width: 90%;
    }
}
